<main id="events-page">
    <aside>
        <h2>Mēklēt pasākumus</h2>
        <form action="/events">
            <input type="text" name="search" placeholder="Nosaukums">
            <input type="submit" class="search-icon-btn" value="">

            {{#if is_organizer}}
            <input type="checkbox" name="organizer_events" {{organizer_view}}>
            <label for="organizer_events">Organizētāja skats</label>
            {{/if}}
        </form>
    </aside>
    <section>
        <h2>Tuvākie pasākumi</h2>
        <div id="event-list">
            {{#each events}}
                <div>
                    <div>
                        <img src="images/{{this.event_id}}.jpg">
                    </div>
                    <div>
                        <h3>{{this.name}}</h3>
                        <p>{{this.place}} ({{this.address}})</p>
                        <p>{{this.event_time}}</p>
                    </div>
                    <div>
                        <a class="btn" href="/events/{{this.event_id}}/">Apskatīt</a>
                        {{!-- <button>Apskatīt</button> --}}

                        {{#unless ../organizer_view}}
                        <a class="btn" href="/events/{{this.event_id}}/purchase">Iepirkt biļeti</a>
                        <span>Cena: {{this.price}} €</span>
                        {{else}}
                        <a class="btn" href="/events/{{this.event_id}}/edit">Rediģēt</a>
                        {{/unless}}
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
</main>
