<main id="events-page">
    <aside>
        <h2>Mēklēt pasākumus</h2>
        <form action="/events">
            <input type="text" name="search" placeholder="Nosaukums">
            <input type="submit" class="search-icon-btn" value="">

            <input type="checkbox" name="my_events">
            <label for="my_events">Mani pasākumi</label>

            {{#if is_organizer}}
            <input type="checkbox" name="organizer_events" {{organizer_view}}>
            <label for="organizer_events">Mani organizētie pasākumi</label>
            {{/if}}
        </form>
    </aside>
    <section>
        <h2>Tuvākie pasākumi</h2>
        <div id="event-list">
            {{#each events}}
                <div>
                    <div>
                        <img src="images/{{this.event_id}}.jpg">
                    </div>
                    <div>
                        <h3>{{this.name}}</h3>
                        <p>{{this.place}} ({{this.address}})</p>
                        <p>{{this.event_time}}</p>
                    </div>
                    <div>
                        <button>Apskatīt</button>

                        {{#unless ../organizer_view}}
                        <button>Iepirkt biļeti</button>
                        <span>Cena: {{this.price}} €</span>
                        {{else}}
                        <button>Rediģēt</button>
                        {{/unless}}
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
</main>
